{% extends "users/base.html" %}

{% block title %}
Log in 
{% endblock title %}

Here is main.html. 

{% block content %}
<!-- <form action="{% url 'users:main' %}" method="post">
    {% csrf_token %}
    <input type="input" name="username" placeholder="uername">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
</form> -->

<div class="auth">
    <h1 style="text-align:center;" style="font-size:100pt;">Djangogram</h1>
    <form action="{% url 'users:main' %}" method="post">
        {% csrf_token %}
        <input type="input" name="username" placeholder="uername">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
    </form>
</div>

<div class="auth_link">
    <a href="{% url 'users:signup' %}">Sign up</a>
</div>

{% endblock content %}